.loading{
    font-size: 10px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform-origin: 5px 5px;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }